daas-core/ingest/stpfn-ingest-event-controller.json
{
    "Comment": "A event controller pipeline",
    "StartAt": "Event analyze",
    "States": {
      "Event analyze": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.controller",
            "StringEquals": "access-control",
            "Next": "LF access controller lambda"
          },
          {
            "Variable": "$.controller",
            "StringEquals": "metadata-generate",
            "Next": "Metadata generator lambda"
          },
          {
            "Variable": "$.controller",
            "StringEquals": "metadata-purger",
            "Next": "Metadata purger lambda"
          }    
        ]
      },
      "LF access controller lambda": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${LambdaArnString}:${Entity}-lmd-ingest-lf-fgac-${Environment}"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 5,
            "MaxAttempts": 2,
            "BackoffRate": 2
          }
        ],
        "End": true
      },
      "Metadata generator lambda": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${LambdaArnString}:${Entity}-lmd-ingest-metadata-generator-${Environment}"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 5,
            "MaxAttempts": 2,
            "BackoffRate": 2
          }
        ],
        "End": true
      },
      "Metadata purger lambda": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${LambdaArnString}:${Entity}-lmd-ingest-metadata-purger-${Environment}"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 5,
            "MaxAttempts": 2,
            "BackoffRate": 2
          }
        ],
        "End": true
      }
    }
  }